html, body {
    background: none repeat scroll 0% 0% rgb(238, 240, 242);
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/** Login **/
#login {
    padding-top: 350px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #212121;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .form-group {
    margin-bottom: 25px;
}
